{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "no-tabs": 2,
    "indent": ["error", 2],
    "space-before-function-paren": ["error", "always"],
    "generator-star-spacing": [2, {"before": false, "after": true}],
    "no-unused-vars": [1, { "args": "none" }],
    "max-len": [1, 110, 4],
    "react/jsx-no-bind": 1,
    "key-spacing": [0, { "align": "value" }],
    "no-multi-spaces": [2, { "exceptions": { "ImportDeclaration": true, "VariableDeclarator": true } }],
    "no-param-reassign": [2, { "props": false }],
    "quote-props": [2, "consistent-as-needed"],
    "react/button-has-type": [true, {
      "button": true,
      "submit": true,
      "reset": true
    }],
    "import/no-unresolved": 0,
    "new-cap": 0,
    "no-debugger": 0,
    "import/extensions": 0,
    "import/no-extraneous-dependencies": 0,
    "react/jsx-filename-extension": 0,
    "import/no-dynamic-require": 0,
    "react/forbid-prop-types": 0,
    "jsx-a11y/href-no-hash": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/label-has-for": 0,
    "react/prefer-stateless-function": 0,
    "class-methods-use-this": 0,
    "import/prefer-default-export": 0,
    "consistent-return": 0,
    "react/require-default-props": 0,
    "global-require": 0,
    "react/prop-types": 0,
    "no-underscore-dangle": 0,
    "no-confusing-arrow": 0,
    "function-paren-newline": 0,
    "no-plusplus": 0,
    "no-useless-rename": 0,
    "no-shadow": 0
  },
  "parserOptions": {
    "ecmaFeatures": {
      "classes": true,
      "generators": true,
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "browser": true,
    "node": true
  }
}