/*
	LESS Loader
*/
/*
	.gradient(black, yellow);
*/
.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/*
	BRAND > CSAA
*/
/*
	BRAND > CSAA
*/
/*
	BUSINESS > B2B
*/
/*
	BUSINESS > B2B
*/
/*
	PRODUCTS > INSURANCE PORTAL
*/
/*
	PRODUCTS > INSURANCE PORTAL
*/
/*
	PROJECT > V1 / OTSP
*/
/*
	PROJECT > OTSP
*/
